# Node Ignore

## Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/
/.pnp
.pnp.js

# Dependency for this project
desafio-01/backend/node_modules/
desafio-01/backend/package-lock.json
desafio-01/backend/package.json
desafio-03/

trabalho-pratico-03/src/components

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Folder VSCode ignore
.vscode/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
/coverage

# production
/build